server/wildfly-8.2.1.Final/standalone/data/wsdl/domain-model-CSS-EAR.ear/domain-model-CSS-EJB.jar/ProcessSaleHandlerService.wsdl

<?xml version="1.0" ?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://handlers.business/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="ProcessSaleHandlerService" targetNamespace="http://handlers.business/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://handlers.business/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://handlers.business/">
  <xs:element name="addProductToSale" type="tns:addProductToSale"></xs:element>
  <xs:element name="addProductToSaleResponse" type="tns:addProductToSaleResponse"></xs:element>
  <xs:element name="closeSale" type="tns:closeSale"></xs:element>
  <xs:element name="closeSaleResponse" type="tns:closeSaleResponse"></xs:element>
  <xs:element name="createInvoice" type="tns:createInvoice"></xs:element>
  <xs:element name="createInvoiceResponse" type="tns:createInvoiceResponse"></xs:element>
  <xs:element name="getSaleDiscount" type="tns:getSaleDiscount"></xs:element>
  <xs:element name="getSaleDiscountResponse" type="tns:getSaleDiscountResponse"></xs:element>
  <xs:element name="newSale" type="tns:newSale"></xs:element>
  <xs:element name="newSaleResponse" type="tns:newSaleResponse"></xs:element>
  <xs:complexType name="createInvoice">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createInvoiceResponse">
    <xs:sequence></xs:sequence>
  </xs:complexType>
  <xs:complexType name="newSale">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="newSaleResponse">
    <xs:sequence></xs:sequence>
  </xs:complexType>
  <xs:complexType name="addProductToSale">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"></xs:element>
      <xs:element name="arg1" type="xs:int"></xs:element>
      <xs:element name="arg2" type="xs:int"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addProductToSaleResponse">
    <xs:sequence></xs:sequence>
  </xs:complexType>
  <xs:complexType name="closeSale">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="closeSaleResponse">
    <xs:sequence></xs:sequence>
  </xs:complexType>
  <xs:complexType name="getSaleDiscount">
    <xs:sequence></xs:sequence>
  </xs:complexType>
  <xs:complexType name="getSaleDiscountResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:double"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ApplicationException" type="tns:ApplicationException"></xs:element>
  <xs:complexType name="ApplicationException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="newSaleResponse">
    <wsdl:part element="tns:newSaleResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="closeSale">
    <wsdl:part element="tns:closeSale" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ApplicationException">
    <wsdl:part element="tns:ApplicationException" name="ApplicationException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createInvoice">
    <wsdl:part element="tns:createInvoice" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="newSale">
    <wsdl:part element="tns:newSale" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addProductToSale">
    <wsdl:part element="tns:addProductToSale" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="closeSaleResponse">
    <wsdl:part element="tns:closeSaleResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addProductToSaleResponse">
    <wsdl:part element="tns:addProductToSaleResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSaleDiscountResponse">
    <wsdl:part element="tns:getSaleDiscountResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createInvoiceResponse">
    <wsdl:part element="tns:createInvoiceResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSaleDiscount">
    <wsdl:part element="tns:getSaleDiscount" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ProcessSaleHandler">
    <wsdl:operation name="createInvoice">
      <wsdl:input message="tns:createInvoice" name="createInvoice">
    </wsdl:input>
      <wsdl:output message="tns:createInvoiceResponse" name="createInvoiceResponse">
    </wsdl:output>
      <wsdl:fault message="tns:ApplicationException" name="ApplicationException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="newSale">
      <wsdl:input message="tns:newSale" name="newSale">
    </wsdl:input>
      <wsdl:output message="tns:newSaleResponse" name="newSaleResponse">
    </wsdl:output>
      <wsdl:fault message="tns:ApplicationException" name="ApplicationException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="addProductToSale">
      <wsdl:input message="tns:addProductToSale" name="addProductToSale">
    </wsdl:input>
      <wsdl:output message="tns:addProductToSaleResponse" name="addProductToSaleResponse">
    </wsdl:output>
      <wsdl:fault message="tns:ApplicationException" name="ApplicationException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="closeSale">
      <wsdl:input message="tns:closeSale" name="closeSale">
    </wsdl:input>
      <wsdl:output message="tns:closeSaleResponse" name="closeSaleResponse">
    </wsdl:output>
      <wsdl:fault message="tns:ApplicationException" name="ApplicationException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getSaleDiscount">
      <wsdl:input message="tns:getSaleDiscount" name="getSaleDiscount">
    </wsdl:input>
      <wsdl:output message="tns:getSaleDiscountResponse" name="getSaleDiscountResponse">
    </wsdl:output>
      <wsdl:fault message="tns:ApplicationException" name="ApplicationException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ProcessSaleHandlerServiceSoapBinding" type="tns:ProcessSaleHandler">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
    <wsdl:operation name="createInvoice">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="createInvoice">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="createInvoiceResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="ApplicationException">
        <soap:fault name="ApplicationException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="newSale">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="newSale">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="newSaleResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="ApplicationException">
        <soap:fault name="ApplicationException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="addProductToSale">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="addProductToSale">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="addProductToSaleResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="ApplicationException">
        <soap:fault name="ApplicationException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="closeSale">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="closeSale">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="closeSaleResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="ApplicationException">
        <soap:fault name="ApplicationException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getSaleDiscount">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getSaleDiscount">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getSaleDiscountResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="ApplicationException">
        <soap:fault name="ApplicationException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProcessSaleHandlerService">
    <wsdl:port binding="tns:ProcessSaleHandlerServiceSoapBinding" name="ProcessSaleHandlerPort">
      <soap:address location="http://localhost:8080/domain-model-CSS-EJB/ProcessSaleHandler"></soap:address>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>